@charset "UTF-8";

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --app-bg: #f5f3f7;
    --app-box-shadow: #b4b3b3;
    --box-shadow-header: #b4b3b3;
    --box-shadow-chat: #c5c5c5;
    --sub-heading: #d89eff;
    --left-chat-text: #9241c8;
    --right-chat: #6e5d7e;
    --paragraph: #808080;
    --left-chat-bg: #edd1ff;
    --gradient-light-magenta: #e942ff;
    --gradient-light-violet: #8838ff;
    --radio-button-outline: #e570ff;
    --placeholder-text: #c6cacd;
    --submit-button-bg: #3e2753;
    --white: #ffffff;
    --shape-2: #f8f8f8;
}

img {
    max-width: 100%;
    display: block;
}

body {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        overflow: auto;
    }
}

.shape {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.shape::before,
.shape::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 85%;
    width: 45rem;
}

.shape::before {
    top: 0;
    right: 72vw;
    background: linear-gradient(38deg, var(--gradient-light-violet) 44%, var(--gradient-light-magenta) 88%);
    border-radius: 0 0 45% 45%;
}

.shape::after {
    left: 70vw;
    bottom: 0;
    background: var(--shape-2);
    border-radius: 45% 45% 0 0;
}

main.container {
    display: flex;
}

@media only screen and (max-width: 860px) {
    main.container {
        flex-direction: column;
        align-items: center;
    }
}

main.container .cellphone {
    background: var(--app-bg);
    border: 1.3rem solid var(--white);
    border-radius: 3rem;
    width: 30rem;
    height: 60rem;
    position: relative;
    box-shadow: 1rem 1rem 3rem var(--app-box-shadow);
}

main.container .cellphone::before {
    content: '';
    background: var(--white);
    position: absolute;
    left: 7rem;
    min-width: 14rem;
    min-height: 2.5rem;
    border-radius: 0 0 2rem 2rem;
}

main.container .cellphone .header::before {
    content: '\2039';
    color: var(--white);
    position: relative;
    left: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}

main.container .cellphone .header {
    background-image: linear-gradient(38deg, rgb(136, 56, 255) 44%, rgb(233, 66, 255) 88%);
    border-radius: 1.7rem 1.7rem 0 0;
    box-shadow: 0rem .5rem .4rem var(--box-shadow-header);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    padding-top: 2.2rem;
}

main.container .cellphone .header .vertical-ellipsis div {
    background: var(--white);
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    margin-bottom: .4rem;
    position: relative;
    right: -17rem;
}

main.container .cellphone .header .profile-picture {
    width: 3.2rem;
    margin-left: 4rem;
}

main.container .cellphone .header .profile-picture img {
    border-radius: 50%;
    border: .2rem solid var(--white);
}

main.container .cellphone .header .name-and-status {
    padding-left: 1rem;
}

main.container .cellphone .header .name-and-status .name {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white);
}

main.container .cellphone .header .name-and-status .status {
    color: var(--sub-heading);
    font-size: 1.1rem;
    padding-top: .3rem;
}

main.container .cellphone .chat {
    padding: 1.5rem 1rem;
}

main.container .cellphone .chat .conversation p, .cellphone .chat .select-plan .plan {
    width: 80%;
    padding: 1rem;
    font-size: 1.1rem;
    box-shadow: .1rem .2rem .5rem var(--box-shadow-chat);
}

main.container .cellphone .chat .left-chat p {
    background: var(--left-chat-bg);
    margin-bottom: .8rem;
    border-radius: 1rem 1rem 1rem 0;
    color: var(--left-chat-text);
    animation: loading-left 1s;
}

@keyframes loading-left {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(0);
    }
}

main.container .cellphone .chat .right-chat {
    position: relative;
    right: -5rem;
    color: var(--right-chat);
    animation: loading-right 1s;
}

@keyframes loading-right {
    from {
        transform: translateX(50px);
    }

    to {
        transform: translateX(0);
    }
}

main.container .cellphone .chat .right-chat .dog-pictures img {
    display: inline-block;
    border-radius: 15%;
    width: 5.6rem;
}

main.container .cellphone .chat .right-chat .dog-pictures img + img {
    margin-left: .5rem;
}

main.container .cellphone .chat .right-chat .text p {
    background: var(--white);
    margin: .8rem 0;
    border-radius: 1rem 1rem 0 1rem;
}

main.container .cellphone .chat .select-plan {
    animation: loading-left 1s;    
}

main.container .cellphone .chat .select-plan .plan {
    background-image: linear-gradient(49deg, var(--gradient-light-magenta) 22%, var(--gradient-light-violet) 62%);
    margin-bottom: .8rem;
    border-radius: 1rem 1rem 1rem 0;
    padding: 1rem 1.5rem 1rem 3rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.container .cellphone .chat .select-plan .plan form {
    display: inline-block;
}

main.container .cellphone .chat .select-plan .plan form label {
    position: relative;
    padding-left: .5rem;
    line-height: 1.4;
}

main.container .cellphone .chat .select-plan .plan label input {
    opacity: 0;
    width: 0;
    height: 0;
}

main.container .cellphone .chat .select-plan .plan label .radio-button {
    position: absolute;
    left: -1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border: .3rem solid var(--radio-button-outline);
    border-radius: 50%;
    cursor: pointer;
}

main.container .cellphone .chat .select-plan .plan label .radio-button:hover {
    background: var(--gradient-light-violet);
}

main.container .cellphone .chat .select-plan .plan .price {
    font-size: 1.6rem;
    font-weight: 700;
}

main.container .cellphone .chat .type-a-message {
    position: relative;
}

main.container .cellphone .chat .type-a-message form input {
    outline: 0;
    border: 0;
    width: 100%;
    padding: 1.1rem 0 1.1rem 1.1rem;
    border-radius: 1rem;
}

main.container .cellphone .chat .type-a-message form::before {
    content: '\02F2';
    color: var(--white);
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: -5.5rem;
    font-size: 7rem;
    font-weight: bold;
    cursor: pointer;
}

main.container .cellphone .chat .type-a-message form::after {
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 0;
    right: .5rem;
    bottom: .2rem;
    border-radius: 50%;
    background: var(--submit-button-bg);
}

main.container .content {
    max-width: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.8rem;
}

@media only screen and (max-width: 860px) {
    main.container .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 2rem;
        text-align: center;
    }
}

main.container .content h1 {
    font-size: 3.2rem;
}

main.container .content p {
    color: var(--paragraph);
    font-size: 1.6rem;
    margin-top: 2.6rem;
}

@media only screen and (max-width: 450px) {
    main.container .content p {
        max-width: 30rem;
    }
}
